NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_PUBLIC_DEMO_ADMIN_EMAIL=
NEXT_PUBLIC_DEMO_ADMIN_PASSWORD=
NEXT_PUBLIC_DEMO_TEACHER_EMAIL=
NEXT_PUBLIC_DEMO_TEACHER_PASSWORD=
NEXT_PUBLIC_DEMO_STUDENT_EMAIL=
NEXT_PUBLIC_DEMO_STUDENT_PASSWORD=
